@import '_config';

._home-sections.coming-soon {
  display: grid;
  background-color: $primary-background-colour;
  color: $primary-foreground-colour;
  height: 100%;
  align-content: center;
  justify-content: center;

  .coming-soon-container {
    display: grid;
    gap: 2em;
    grid-template-areas: "logo content";

    @media screen and (max-width: $mobile-width) {
      grid-template-areas: "logo" "content";
    }

    .coming-soon-logo {
      display: flex;
      grid-area: logo;
      
      img {
        height: 100px;
        align-self: center;
        justify-self: center;
      }
    }
    .coming-soon-content {
      grid-area: content;
      .coming-soon-title {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }

      .coming-soon-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
      }
    }
  }
}
