
main {
  padding-top: 3%;
}

.spaced {
  padding: 5px;
}

.subtitle {
  padding-bottom: 5vh;
}

.jumbotron {
  text-align: center;
  margin-bottom: 0;
}

#top > .jumbotron {
  margin-bottom: 0;
}

.background-image{

  background: center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.half-height{
  min-height: 30vh;
}

.full-height{
  min-height:90vh;
}

.vert-line {
    border-left: 1px solid white;
    max-width: 1px;
    height: auto;
}

.btn {
  &.btn-primary {
    $button-colour: #ffffff;
    $button-shadow: #222222;

    background-color: $button-colour;
    box-shadow: 0 5px $button-shadow;
    border-width: 0;

    &:hover {
      background-color: darken($button-colour, 20%);
      box-shadow: 0 5px darken($button-shadow, 30%);
      border-width: 0;
    }

    &:active {
      background-color: darken($button-colour, 20%);
      box-shadow: 0 5px darken($button-shadow, 30%);
      border-width: 0;
    }

    &.disabled, .disabled {
      background-color: darken($button-colour, 40%);
      opacity: 0.7;
    }
  }
}

.below-navbar {
  padding-top: 5vh;
}

footer > .container {
  padding-top: 2%;
}

footer > .logo {
  margin: 2%;
}



.jumbotron.full-height{
  padding-top: 15%;
}


#event-splash {
  min-height: 50vh;
}

#splash-body {
  border-left: white;
}
