@import '_config';

footer {
  display: flex;
  grid-area: footer;

  justify-content: center;

  .footer-content {
    margin: .8em 0 1em 0;
    text-align: center;

    a {
      color: $footer-link-colour;
    }
  }
}
